.main{
    width: 100%;
    margin-top: 100px;
}
.main2{
    width: 80%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.states{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    /* border: 1px solid black; */
}

.states > a {
    width: 30%;
    flex-shrink: 0;
}

.heading{
    color: rgba(121, 117, 114, 1);
    /* font-size: clamp(1rem, 0.6479rem + 1.1268vw, 2rem); */
    font-size: 32px;
    margin-bottom: 12px;
}

.content{

    color: rgba(121, 117, 114, 1);
/* font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem); */
font-size: 18px;
margin-bottom: 18px;
}
.grid-container {
    display: grid;
    gap: 10px;
    justify-content: center;
  }

  .grid-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media only screen and (max-width: 767px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .main{
        margin-bottom: 30px;
    }
  }


/* @media screen and (max-width:600px) {
    .states{
        flex-direction: column;
    }
    
.states > a {
    width: 100%;
    flex-shrink: 0;
}
} */