.imageDiv {
  width: 163px;
  height: 163px;
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: auto !important;
  margin-right: auto !important   ;
  flex-wrap: wrap;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  border-top: 1px solid #92877b;
  border-bottom: 1px solid #92877b;
  margin-top: 80px;
  /* padding-top: 10px !important; */
}

.mainForLanding {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: auto !important;
  margin-right: auto !important   ;
  flex-wrap: wrap;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  border-top: 1px solid #92877b;
  border-bottom: 1px solid #92877b;
  margin-top: 32px;
  /* padding-top: 10px !important; */
}

.main2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px !important;
}

.main3 {
  display: flex;
  flex-direction: row;
  width: 250px;
  min-height: 22px !important;
  align-items: center;
  gap: 5px;
}
.main9 {
  /* margin-top: 20px ; */
  /* padding-top: 10px !important; */
  /* align-self: self-end; */
  align-self: flex-start;
  align-items: flex-start;
  /* background-color: red; */
}
.main9 img {
  margin-top: 4px;
}
.main3 img {
  /* margin-top: 6px; */
}
.mainHeading {
  /* font-weight: 500; */
  font-size: 18px;
  color: #292929;
}
.subHeading {
  font-weight: 400;
  font-size: 18px;
  color: #292929;
}
.main4 {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.main4 img {
  object-fit: contain;
}

.main a {
  text-decoration: none;
  color: black;
}
.main7 {
  display: none;
}
.main5 {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main6 {
  margin-right: 150px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.main5 h1 {
  font-size: 14px;

}
.mainsomething{
  display: none;
}

@media screen and (max-width: 700px) {
  .main {
    /* width: 50%; */
    /* gap: 10px; */
    justify-content: space-evenly;
    margin: 0px;
    border-top: 0px;
    flex-wrap: wrap;
    /* margin-top: 20px !important; */
    /* width: 90%;
    margin-left: auto;
    margin-right: auto; */
    /* align-items: center; */
    /* overflow: hidden; */
  }

  .main .imageDiv {
    display: none;
  }

  .main2:nth-child(2) {
    /* background-color: red !important; */
    /* border-bottom: 1px solid #92877B; */
    width: 45%;
    display: none;
    margin-left: 3px;
    /* background-color: red; */
  }
  .main2:nth-child(3) {
    align-items: right;
    text-align: right;
    /* background-color: red !important; */
    width: 45%;
    display: none;
    margin-right: 3px;
  }
  .main7 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #92877b;
  }
  .main2:nth-child(6) {
    /* align-items: right;
        text-align: right; */
    /* background-color: red !important; */
    /* text-align:center; */
    align-self: center;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    margin-bottom: 30px;
  }
  .main2:nth-child(7) {
    width: 100%;
    display: flex;
    align-items: center;
    /* transform: translateX(-40px); */
    /* background-color: red; */
  }
  .main6 {
    display: none;
  }
  .main5 {
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .mainHeading {
    display: none;
  }
  .mainsomething{
    display: flex !important;
    width: 90%;
    /* height: 100px; */
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    /* background-color: #292929; */
  }
  .main3 {
    /* transform: translateX(30px);
    background-color: red;
    width: 250px; */
  }
  .main9 {
    align-self: initial;
    align-items: initial;
  }
  .main3 {
    transform: translateX(30px);
    width: 250px;
    /* background-color: red; */
  }
  
}

@media screen and (max-width: 460px) {
  .imageDivtop {
    display: none;
  }
  .main {
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 10px !important;
    /* padding-bottom: 20px !important; */
  }

  .main2:nth-child(2) {
    padding-left: 15px !important;
  }
  .main2:nth-child(3) {
    align-items: right !important;
    align-self: right !important;
    text-align: right !important;
    padding-right: 15px !important;
  }
  .main2:nth-child(5) {
    align-items: center;
    justify-content: center;
  }

  .main3 {
    transform: translateX(30px);
    width: 250px;
    /* background-color: red; */
  }
  .main2:nth-child(3) h1 {
    text-align: right !important;
  }
  .emailstyle{
    transform: translateX(-5px);
  }

  .main2:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }
  .main2:nth-child(7) {
    padding-top: 0px !important;
  }
  .mainHeading {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
  }
  .subHeading {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
  }
  .main9 {
    align-self: initial;
    align-items: initial;
  }
}
