.main2{
    margin-top: 100px;
}
.main{
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
}

@media screen and (max-width:420px) {
    .main2{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
}