.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.first{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.second{
    color: #333333;
    font-weight: 400;
    font-size: 18px;
}


@media screen and (max-width:680px) {

    .main{
        flex-direction: row;
        justify-content: space-evenly;
    } 
}