.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 370px;
    justify-content: center;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    text-align: center  ;
    background-color: #948F8C;
}

.main > div {
    width: 80%;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.heading{
    font-weight: 400;
    color: white;
    font-size: 22px;
    /* margin-left: 50px !important; */
    /* margin-right: 30px !important; */
}
.name{
    font-weight: 400;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    /* margin-left: 30px !important; */
    /* margin-right: 30px !important; */
}


@media screen and (max-width:460px) {
    .main{
        /* height: auto; */
        height: 200px;
        /* padding-bottom: 20px !important; */
    }
    .heading,.name{
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
letter-spacing: -0.09527089446783066px;
text-align: center;

    }
    .main > div{
        width: 90%;
    }
    
}