.main{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.main2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    /* flex-shrink: 1; */
}

.main a{
    padding-right: 20px !important;
    padding-left: 20px !important;
}


.main3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.main4{
    display: flex;
    flex-direction: row;
    /* width: 400px; */
    align-items: center;
    gap:5px;
}
.subHeading{
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width:600px) {

    .main{
        flex-direction: column;
        width: 100%;
        gap: 40px;
        align-items: center;
    }

    .main2 {
        width: 80%;
    }

    .main3{
        width: 100%;
    }
    
}