.mains{
    position: relative;
    display: flex;
    gap: 16px;
    overflow-y: hidden;
    row-gap: 10px !important;
    flex-wrap: wrap;
    /* background-color: red; */
    /* background-color: red; */
    /* background-color: red; */
}

.heading{
    font-weight: 400;
}
/* .heading{
    font-size: 26px;
} */

/* pagination  */
.pagination {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (max-width:460px) {
    .mains{
        /* background-color: red; */
        width: 100% !important;
        gap: 0px;
        margin-bottom: 20px !important;
    }
    .mains>div{
        align-items: flex-start !important;
        /* background-color: red; */
        /* align-items: center !important; */
        /* align-items: flex-start !important; */
        /* background-color: red; */
    }
    .mains> div >div {
        /* width: 50% !important; */
        width: 95% !important;
       /* background-color: red;  */

    }
    /* .pagination {
        width: 90vw !important;
        gap: 2px;

    } */
    
}

