.main{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: auto ;
    margin-right: auto;
    position: relative;
}

.dottedLine{
    position: absolute;
    width: 80%;
    top: 30% ;
    transform: translateY(-50%);
    z-index: -1;
    height: 2px;
    object-fit: contain;
    /* border: 1px dashed black; */
}
.dottedLine2{
    display: none;
}
@media screen and (max-width:680px) {

    .main{
        flex-direction: column;
        gap: 30px;
        /* justify-content: none; */
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        /* align-items: baseline; */
    }
    .dottedLine{
        display: none;
    }
    .dottedLine2{
        position: absolute;
        display: block;
        display: none;
        align-self: flex-start;
        /* left: 2; */
        left: 25vw;
        /* transform: translateX(-50%); */
        z-index: -1;
        width: 2px;
        height: 90%;
        /* left: 10; */
        
    }
    .dottedLine2 img{
        object-fit: contain;
    }

    
}