@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main *{
    margin: 0px;
    padding: 0px !important;
    font-family: Montserrat;
    overflow-x: hidden;
}


.main1{
    overflow-y: hidden;
}
.main4{
    margin-bottom: 50px;
    /* background-color: red; */
}

.main5{
    margin-bottom: 32px;
}
.buttonComponent{
    margin-top: 10px;
    margin-bottom: 60px;
}
.lastheading{
    /* width: 90; */
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    /* background-color: red; */
}
@media screen  and (max-width:460px){
    .buttonComponent{
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .main5{
        margin-bottom: 50px;
    }
   .lastheading{
    margin-bottom: 30px;
   } 
}