@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main *{
    margin: 0px;
    padding: 0px !important;
    font-family: Montserrat;
    overflow-x: hidden;
}


.main1{
    overflow-y: hidden;
}
.main4{
    margin-bottom: 50px;
}

.main5{
    margin-bottom: 50px;
}
.buttonComponent{
    margin-top: 10px;
    margin-bottom: 60px;
}

@media screen  and (max-width:460px){
    .buttonComponent{
        margin-top: 0px;
        margin-bottom: 40px;
    }
    
}