.main {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  height: 600px;
  overflow-y: scroll;
}
.right {
  padding-left: 20px !important;
  right: 70%;
}

.lists {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #292929;
  border-radius: 8px;
  /* width: 200px !important; */
  padding: 20px !important;
  border: 1px solid #797572;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .left {
    width: 100%;
    flex-direction: row;
    overflow: scroll;
    height: 60px;
  }
  .lists {
    font-size: 16px;
  }
  .main {
    flex-direction: column;
  }
}
