.main3{
    border-top: 1px solid rgba(146, 135, 123, 1);
    /* padding-top: 150px; */
    margin-top: 150px;
    /* background-color: red; */
}

.main2{
    width: 100%;
}

@media screen and (max-width:420px) {

    .main3{
        margin-top: 30px;
    }
    
}