.main:hover {
  cursor: pointer;
}
.image {
  width: 30px;
  height: 30px;
  position: relative;
}
.main {
  width: 80%;
  /* margin-right: auto; */
  /* margin-left: 15%; */
}
@media screen and (max-width: 460px) {
  .main {
    width: 90%;
    /* background-color: red; */
    margin-bottom: 20px !important;
    /* margin-top: 10px; */
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
