@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px !important ;
  font-family: Montserrat;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
::placeholder {
  color: rgba(146, 135, 123, 1);
  /* position: absolute; */
  font-size: 12px !important;
  /* top:kj20px; */
}

a {
  text-decoration: none;
}

.ReactModalPortal{
  z-index: 9 !important;
  position: fixed;
}
.mainss {
  overflow-x: hidden;
}

.MuiDataGrid-cell {
  line-height: 0px !important;
}
.css-128fb87-MuiDataGrid-toolbarContainer {
  gap: 20px;

  margin-left: 40px;
  margin-top: 20px;
}
.MuiDataGrid-columnHeaderTitleContainerContent{
  font-weight: 700 !important;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle{
  font-weight: 700 !important;
}
.css-128fb87-MuiDataGrid-toolbarContainer button {
  color: black;
}
.MuiButtonBase-root {
  color: black !important;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  /* color: tomato; work */
  white-space: "normal" !important; /* don't work */
  word-wrap: "break-word" !important; /* don't work */
}
.transform-component-module_wrapper__SPB86 {
  width: 100% !important;
  height: 100% !important;
}
.transform-component-module_content__FBWxo {
  width: 100% !important;
  height: 100% !important;
  /* height: fit-content; */
}
body {
  overflow-x: hidden;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}
/* .overlay{
    border: 0px solid black;
    width: 500px;
} */
select {
  padding-right: 20px !important;
  /* display: none; */
  /* background-color: red; */
}
select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(146, 135, 123, 1)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98.5%;
  background-position-y: 10px;
  border: 1px solid rgba(146, 135, 123, 1);
  border-radius: 2px;
  margin-right: 2rem !important;
  /* padding: 1rem; */
  padding-right: 3rem !important;
}
::-webkit-scrollbar {
  width: thin;
}
