.status{
    margin-top: 50px;
}/* index.module.css */

.status {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdownContainer {
    position: relative;
    display: inline-block;

   border-radius: 10px !important;
}

.dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 13px;
    border: 0px solid #cccccc00;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    
    padding-right: 30px; /* Ensure space for the icon */
    height: 20px;
   padding-left: 10px; 
}

.option{
    font-size: 12px !important;
    margin-left: 10px !important;

    height: 20px;
}
.showOnPage{
    background: rgba(238, 255, 243, 1);
    color: rgba(22, 177, 84, 1);


}
.hidden{

    background: rgba(255, 248, 222, 1);
    color: rgba(235, 159, 45, 1);


}
.declined{
    background: rgba(255, 240, 237, 1);
    color: rgba(255, 0, 0, 0.433) !important;
}
.donorFound{
    background-color: rgb(255, 153, 0);
}
.icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevents the icon from blocking clicks on the select */
    font-size: 14px;
    color: #333;
}
