.button {
  border: 1px solid #959595;
  font: monteserrat;
  height: 62px;
  width: 234px;
  /* padding: 64px 16px 64px 16px !important; */
  text-decoration: none;
  border-radius: 8px;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #92877b;
  position: relative;
  color: white;
  /* transition: all 1s ease; */
}
.button1,.button2 {
  border: 1px solid #959595;
  font: monteserrat;
  height: 62px;
  width: 234px;
  /* padding: 64px 16px 64px 16px !important; */
  text-decoration: none;
  border-radius: 8px;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #92877b;
  position: relative;
  color: white;
  /* transition: all 1s ease; */
}
.button1::before {
  content: "";
  position: absolute;
  border-radius: 7px;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  border: 1px solid white;
  opacity: 0;
  /* z-index: -1; */
  transition: all 0.5s;
  /* color: #000000 ; */
}

.button2::before {
  content: "";
  position: absolute;
  border-radius: 7px;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background:#948F8C;
  opacity: 0;
  /* z-index: -1; */
  border :1px solid white;
  transition: all 0.5s;
  /* color: #000000 ; */
}
.button1:hover::before ,.button2:hover::before{
  left: 0;
  right: 0;
  opacity: 1;
}
.button1:hover p {
  color: #000;
  z-index: 2;
}
.button2:hover p{
  color: white;
  z-index: 2;
}
.main {
  position: relative;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btntext {
  position: absolute;

  z-index: 1;
}

.main:hover {
  cursor: pointer;
}
