.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 20px;
  padding: 20px !important;
  width: 30vw;
  background: rgba(245, 242, 237, 1);
  border-radius: 15px;
  margin-left: auto;
  /* height: 400px;
  overflow-y: scroll; */
  position: relative;
  margin-right: auto;
  height: 326px;
}
.image {
  position: relative;

  width: 71px;
  height: 53px;
}
.image > img{
  object-fit: contain !important;
}
.heading {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.6299999952316284px;
  text-align: left;
}
.testt{
  position: absolute;
  left: 20px;
  bottom: 15px;
}
.name {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.12600000202655792px;
  text-align: left;
}
.surname {
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.10799999535083771px;
  text-align: left;
}
.fadeInSlide {
  animation-name: fadeInSlide;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(1, 0.055, 0.32, 1);
  animation-fill-mode: forwards;
}
.thumbContainer {
  opacity: 1;
  transform: translateY(60%);
  /* img,
  video {
    display: block;
    position: relative;
    max-width: calc(380px + 43vh);
    max-height: calc(255px + 43vh);
  } */
}
@keyframes fadeInSlide {
  0% {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  .main {
    width: 60vw;
  }
}

@media screen and (max-width: 460px) {
  .main {
    /* width: 80%; */
    width: 328px;
    height: 302px !important;
  }
  .heading {
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
/* width: 84% !important; */
width: 265px !important;
  }
  .name{
    font-family: Montserrat;
font-size: 14px !important;
font-weight: 500;
line-height: 16.2px;
letter-spacing: -0.12600000202655792px;
text-align: left;
/* width: 75% !important; */
margin-top: 10px !important;

  }
  .surname{
    font-family: Montserrat;
font-size: 12px;
font-weight: 600;
line-height: 14.4px;
letter-spacing: -0.10799999535083771px;
text-align: left;

  }
  .image{
    width:36px !important;
    height: 27px !important;
    margin-top: 25px;
  }
  .image img{

    object-fit: contain;
  }
}
