.dataGrid{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header:nth-child(2){
    padding-left: 20px !important;
    margin-left: 20px;
    font-weight: 700 !important;
}
.header{
    
    font-weight: 700 !important;
}