.heading{
    font-family: Montserrat;
font-size: 26px;
font-weight: 500;
line-height: 98px;
text-align: left;
color:  #92877B;;
}

.main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.internal > div{
    margin-left: 0 !important;
}

@media screen and (max-width:460px) {

    .heading{
        font-size: 18px ;
line-height: 28px;
margin-bottom: 20px;
    }
    
}