.main{
    display: flex;
    align-items:flex-start;
    height: fit-content;
    gap: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
    margin-top: 30px;
}

.heading{

font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 25.2px;
text-align: left;

}

.buttons{
    display: flex;
    gap: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
    height: 300px;
    justify-content: center;
}

.heading1{
    font-family: Montserrat;
font-size: 40px;
font-weight: 500;
line-height: 56px;
text-align: left;
color:  #92877B;

}

.subheading1{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;

}

.main2{
    margin-bottom: 30px;
    width: 100%;
}

.main3{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.main4{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;

}

.button1{
    width: 200px;
    height: 50px ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border :1px solid  #92877B;;
    color:  #92877B;; */
    border: 1px solid black;
}
.button1Selected{
    background-color: #92877B;
    color: white;
    width: 200px;
    height: 50px ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button1:hover,.button1Selected:hover{
    cursor: pointer;
}
.div2{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
    /* justify-content: center; */
}

@media screen and (max-width:420px) {
    .heading{
        font-size: 16px;
    }

    .buttons{
        flex-direction: column;
        align-items: flex-start;
        /* background-color: red; */
    }
    .buttons> div{
        width: 100%;
    }
    .buttons > div >div{
        width: 100% !important;
        /* background-color: blue; */
    }
    
}