.image{
    position: relative;
    width: 173px;
    height: 162px;
}

.image > img{
    object-fit: cover;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px !important;
    border-radius: 8px !important;
    /* background-color: red; */

}
.main p{
    text-align: center;
}

.main2{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;

}

.heading{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 34px;
text-align: center;
color:  #242424;;
}