.main{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.left{
    width: 40%;
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.imageUpload{
    width:60%;
    height: 300px;
    border: 2px dotted rgba(121, 117, 114, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px; }

.heading{
    font-size: 16px;
    color: rgba(121, 117, 114, 1);
}
.main2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:1000px) {
    .main{
        width: 95%;
        margin-left: 0px;
        margin-right: 0px;
        /* gap: 10px; */
        /* justify-content: space-around; */
    }

    .left{
        width: 50%;
    }
    .right{
        width: 45%;
    }
    .imageUpload{
        width: 85%;
    }
    
}


@media screen and (max-width:600px) {

    .main{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
    }

    .imageUpload{
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .left{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .right{
        width: 100%;
    }
    
}