.main{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 10px solid  rgba(245, 245, 245, 1);
}

.image > img{
    border-radius: 2px;
    object-fit: cover;
}

.heading{
    color: rgba(80, 80, 80, 1);
    font-size: clamp(0.875rem, 0.787rem + 0.2817vw, 1.125rem);
    margin-left: 15px;

}

.desc{
    line-height: 20px;
    color:  rgba(80, 80, 80, 1);
    font-size: clamp(0.625rem, 0.581rem + 0.1408vw, 0.75rem);
    margin-left: 15px;
}

.main > a{
    margin-left: 15px;
}