.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px !important;
    border-bottom: 1px solid #92929280;
    margin-bottom: 50px;
    padding-top: 30px !important;
}


.main2{
    position: relative;
    width: 363px;
    height: 159px;
}
.main2:hover{
    cursor: pointer;
}
.main a{
    text-decoration: none;
    color:#797572;
}

.heading{
    font-size: 18px;
    font-weight: 600;
    width: 100px;
}
.main4{
    display: none;
}


.main3{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    text-align: center;
    transition: all 1s ease;
}

.selected{
    text-align: centers;
    font-size: 18px;
    font-weight: 600;
    width: 100px;
    padding-bottom: 10px !important;
    /* transition: 1s all ease;  */
    border-bottom: 2px solid #797572;
}


@media screen  and ( max-width:880px){

    .main4{
        display: block;

    }
    .main2 > img{
        /* width: 200px !important; */
        /* height: 48px !important;
        width: 111px !important; */
        /* object-fit: contain; */
    }
    .main2{
        height: 48px !important;
        width: 111px !important;
    }

    .main3{
        display: none;
    }
    .main{

        flex-direction: row;
        width: 90%;
        margin-right: auto;
        /* align-items: center; */
        margin-left: auto;
        margin-top: 30px;
        justify-content: space-between;
        padding-bottom: 20px !important;
        margin-bottom: 20px !important;
    }
    
}